/*
  You can use import statements to include partials:
 */

// Bootstrap variable overrides
// See https://getbootstrap.com/docs/4.1/getting-started/theming/
$body-bg: #FFF;
$body-color: #212529;

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

/*
  Or add your statements here:
 */

// Thanks to
// https://getbootstrap.com/docs/4.1/examples/navbar-fixed/
body {
  min-height: 15rem;
  padding-top: 4.5rem;
}

// Override text container
.container {
  max-width: 60rem;
}

.content {
  padding: 0 32px;
}

footer {
  border-top: .05rem solid #e5e5e5;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
}
